body,
html {
  height: 100vh;
}

body {
  margin: auto;
  background: linear-gradient(to bottom, #CCD3E6 0%, #7C8EBF 100%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "wrapper"
}

wrapper {
  grid-area: wrapper;
  margin: 0% 10px auto 10px;
  border: 2px solid green;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "logo logo logo"
  "nav nav nav"
  "carousel carousel carousel"
  "products products products"
  "ads ads ads"
  "footer footer footer"
}

.wrapper-items {
  border: 10px solid blueviolet;
  background: blanchedalmond;
}


/*
https://css-tricks.com/almanac/selectors/c/child/
https://css-tricks.com/the-sass-ampersand/ */
logo {
  grid-area: logo;
  margin-left: 2%;
  margin-right: 2%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px;
  grid-template-areas:
  "images images images texts"
}

logo > .image {
  grid-area: images;
  background-color: rgb(75, 75, 218);

}

wrapper-item text{
  grid-area: texts;
  background-color: rgb(75, 218, 123);
}

nav {
  grid-area: nav;
  margin-left: 2%;
  margin-right: 2%;
}

carousel {
  grid-area: carousel;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1%;
}

products {
  grid-area: products;
  margin-left: 4%;
  margin-right: 4%;
}

ads {
  grid-area: ads;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 1%;
}

footer {
  grid-area: footer;
}

.top {
  background-color: #ccc;
  padding: 1em
}

.top h1 {
  color: #ff0;
}

.top div {
  color: red;
  font-weight: bold;
}